@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-MediumItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Mulish";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Mulish";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
  background-color: #F2F8FF;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
  max-width: 1304px;
}

.dashboard {
  padding: 7px 16px 7px 11px;
  background: #0A0929;
  position: relative;
  z-index: 5;
}
@media (max-width: 992.98px) {
  .dashboard {
    padding: 7px 0;
    background: transparent;
  }
}
@media (max-width: 480.98px) {
  .dashboard {
    padding: 7px 0 0 0;
  }
}
.dashboard__row {
  padding: 0 0 1px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992.98px) {
  .dashboard__row {
    padding: 0;
    flex-direction: column;
  }
}
.dashboard__message {
  font-size: 13px;
  font-weight: 500;
  line-height: 115.3846153846%;
  color: #FFFFFF;
  padding: 0 30px 0 0;
}
.dashboard__message span {
  font-weight: 700;
}
@media (max-width: 992.98px) {
  .dashboard__message {
    text-align: center;
    padding: 0;
  }
  .dashboard__message:not(:last-child) {
    margin: 0 0 12px 0;
  }
}
@media (max-width: 480.98px) {
  .dashboard__message {
    font-size: 12px;
    padding: 0 30px;
  }
}
@media (max-width: 425px) {
  .dashboard__message {
    padding: 0 20px;
  }
}
@media (max-width: 400px) {
  .dashboard__message {
    padding: 0;
  }
}
@media (max-width: 480.98px) {
  .actions-dashboard {
    width: 100%;
  }
}
.actions-dashboard__list {
  display: flex;
  align-items: center;
}
@media (max-width: 480.98px) {
  .actions-dashboard__list {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
@media (max-width: 480.98px) {
  .actions-dashboard__item {
    margin: 0 0 10px 0;
  }
}

.item-actions-dashboard {
  padding: 0 13.5px;
  position: relative;
}
.item-actions-dashboard:first-child::before {
  background-color: rgba(24, 28, 219, 0.1019607843);
}
.item-actions-dashboard:last-child {
  padding-right: 0;
}
.item-actions-dashboard:last-child::before {
  display: none;
}
.item-actions-dashboard::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #FFFFFF;
  top: 0;
  right: -1px;
}
@media (max-width: 480.98px) {
  .item-actions-dashboard::before {
    display: none;
  }
}
@media (max-width: 480.98px) {
  .item-actions-dashboard {
    padding: 0 6px;
  }
}
.item-actions-dashboard_whatsapp .item-actions-dashboard__number {
  display: none;
}
@media (max-width: 480.98px) {
  .item-actions-dashboard_whatsapp .item-actions-dashboard__number {
    display: block;
    margin: 0 0 0 5px;
  }
}
@media (max-width: 480.98px) {
  .item-actions-dashboard_chat {
    display: none;
  }
}
.item-actions-dashboard_select .select2 {
  width: auto !important;
}
.item-actions-dashboard_select .select2.select2-container--open .select2-selection__arrow b {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.item-actions-dashboard_select .select2-container--default .select2-selection--single {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  display: flex;
  align-items: center;
  height: auto;
}
.item-actions-dashboard_select .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 14px;
  font-weight: 700;
  line-height: 128.5714285714%;
  color: #FFFFFF;
  padding: 0;
  display: flex;
}
.item-actions-dashboard_select .select2-container--default .select2-selection--single .select2-selection__rendered span {
  display: flex;
  align-items: center;
}
@media (max-width: 480.98px) {
  .item-actions-dashboard_select .select2-container--default .select2-selection--single .select2-selection__rendered span {
    font-size: 0;
  }
}
.item-actions-dashboard_select .select2-container--default .select2-selection--single .select2-selection__rendered img {
  display: inline-flex;
  margin: 0 0 0 4px;
}
@media (max-width: 480.98px) {
  .item-actions-dashboard_select .select2-container--default .select2-selection--single .select2-selection__rendered img {
    margin: 0;
  }
}
@media (max-width: 768.98px) {
  .item-actions-dashboard_select .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 13px;
  }
}
.item-actions-dashboard_select .select2-container--default .select2-selection--single .select2-selection__arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  top: auto;
  right: auto;
  margin: 0 0 0 4px;
}
.item-actions-dashboard_select .select2-container--default .select2-selection--single .select2-selection__arrow b {
  position: relative;
  margin: 0;
  top: auto;
  left: auto;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 6.5px;
  border-right-width: 6.5px;
  border-top: 6.5px solid #fff;
  right: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 480.98px) {
  .item-actions-dashboard_select .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-left-width: 5px;
    border-right-width: 5px;
    border-top: 5px solid #00E1E7;
  }
}
@media (max-width: 480.98px) {
  .item-actions-dashboard_select .select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 24px;
    margin: 0;
  }
}
.item-actions-dashboard_select-valute .select2-container--default .select2-selection--single .select2-selection__rendered img {
  width: 22px;
  height: 22px;
}
@media (max-width: 480.98px) {
  .item-actions-dashboard_select-valute .select2-container--default .select2-selection--single .select2-selection__rendered img {
    width: 17.5px;
    height: 17.5px;
  }
}
.item-actions-dashboard_select-language .select2-container--default .select2-selection--single .select2-selection__rendered img {
  width: 28px;
  height: 17px;
}
@media (max-width: 480.98px) {
  .item-actions-dashboard_select-language .select2-container--default .select2-selection--single .select2-selection__rendered img {
    width: 26.11px;
    height: 16.78px;
  }
}
.item-actions-dashboard__link {
  display: flex;
  align-items: center;
}
.item-actions-dashboard__label {
  display: inline-flex;
  font-size: 14px;
  font-weight: 700;
  line-height: 128.5714285714%;
  color: #FFFFFF;
}
.item-actions-dashboard__label:not(:last-child) {
  margin: 0 4px 0 0;
}
.item-actions-dashboard__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-actions-dashboard__icon img {
  max-width: 100%;
}
.item-actions-dashboard__icon_whatsapp {
  flex: 0 0 25px;
  width: 25px;
}
@media (max-width: 480.98px) {
  .item-actions-dashboard__icon_whatsapp {
    flex: 0 0 18px;
    width: 18px;
  }
}
.item-actions-dashboard__icon_chat {
  flex: 0 0 24px;
  width: 24px;
}
.item-actions-dashboard__icon_chat img {
  width: 20px;
  height: 20px;
}
.item-actions-dashboard__number {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  color: #FFFFFF;
}

.custom-valute {
  top: 8px;
}
@media (max-width: 480.98px) {
  .custom-valute {
    transform: translate(-55px, 0);
  }
}
.custom-valute.select2-dropdown--below {
  border-radius: 4px !important;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #e3e9ef;
}
.custom-valute .select2-results__option {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
  white-space: nowrap;
  padding: 8px 12px 8px 11px;
  color: #031a32;
  position: relative;
  background-color: transparent;
}
.custom-valute .select2-results__option:not(:last-child)::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -2px;
  right: 0;
  background-color: #e3e9ef;
}
.custom-valute .select2-results__option span {
  display: flex;
  align-items: center;
}
.custom-valute .select2-results__option span img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #0A0929;
  margin: 0 0 0 4px;
}
@media (max-width: 480.98px) {
  .custom-valute .select2-results__option span img {
    width: 17.5px;
    height: 17.5px;
  }
}

.custom-language {
  top: 8px;
}
@media (max-width: 480.98px) {
  .custom-language {
    transform: translate(-45px, 0);
  }
}
.custom-language.select2-dropdown--below {
  border-radius: 4px !important;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #e3e9ef;
}
.custom-language .select2-results__option {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
  white-space: nowrap;
  padding: 8px 11px 8px 12px;
  color: #031a32;
  position: relative;
  background-color: transparent;
}
.custom-language .select2-results__option:not(:last-child)::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -2px;
  right: 0;
  background-color: #e3e9ef;
}
.custom-language .select2-results__option span {
  display: flex;
  align-items: center;
}
.custom-language .select2-results__option span img {
  width: 28px;
  height: 17px;
  margin: 0 0 0 4px;
}
@media (max-width: 480.98px) {
  .custom-language .select2-results__option span img {
    width: 26.11px;
    height: 16.78px;
  }
}

.custom-location {
  top: 8px;
  transform: translate(-10px, 0);
}
.custom-location.select2-dropdown--below {
  border-radius: 8px !important;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #E3E9EF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1019607843);
}
.custom-location .select2-results__option {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 125%;
  white-space: nowrap;
  padding: 10px 12px 11px 11px;
  color: #031a32;
  position: relative;
  background-color: transparent;
}
.custom-location .select2-results__option:first-child {
  font-weight: 700;
  color: #181CDB !important;
}
.custom-location .select2-results__option:nth-child(2) {
  padding: 10px 12px 11px 38px;
}
.custom-location .select2-results__option:nth-child(2)::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 18px;
  background: url(../img/icons/point-black.svg) center no-repeat;
  left: 13px;
}
.custom-location .select2-results__option:not(:last-child) {
  border-bottom: 0.5px solid rgba(24, 28, 219, 0.1019607843);
}

.custom-date {
  top: 8px;
}
@media (max-width: 480.98px) {
  .custom-date {
    transform: translate(-25px, 0);
  }
}
.custom-date.select2-dropdown--below {
  border-radius: 8px !important;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #E3E9EF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1019607843);
  min-width: 146.5px;
}
.custom-date .select2-results__option {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 125%;
  white-space: nowrap;
  padding: 10px 12px 11px 11px;
  color: #031a32;
  position: relative;
  background-color: transparent;
}
.custom-date .select2-results__option .custom-option {
  width: 100%;
  height: 100%;
}
.custom-date .select2-results__option:first-child {
  font-weight: 700;
  color: #181CDB !important;
}
.custom-date .select2-results__option:last-child {
  font-weight: 700;
}
.custom-date .select2-results__option:not(:last-child) {
  border-bottom: 0.5px solid rgba(24, 28, 219, 0.1019607843);
}

.select2-container--default .select2-results__option--selectable {
  background-color: transparent;
  color: #031a32;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #181CDB;
  color: #fff !important;
}
.select2-container--default .select2-results > .select2-results__options {
  max-height: none;
}

.select2-search--dropdown {
  display: none;
  padding: 0;
}

.select2-dropdown {
  width: auto !important;
}

.navigation__pagination {
  bottom: auto !important;
  top: auto !important;
  display: flex;
  align-items: center;
}
.navigation__pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #00E1E7;
  background: rgba(255, 255, 255, 0.6);
  opacity: 1;
  margin: 0;
}
.navigation__pagination .swiper-pagination-bullet:not(:last-child) {
  margin: 0 10px 0 0;
}
.navigation__pagination .swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
}
.navigation__btn {
  width: 35.14px;
  height: 32.47px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #181CDB;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.1215686275);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.navigation__btn.swiper-button-disabled {
  pointer-events: none;
  background: #B0BEC5;
}
.navigation__btn svg {
  width: 10px;
  height: 14px;
}
@media (min-width: 768.98px) {
  .navigation__btn:hover {
    background: #1e21ff;
  }
}
.navigation__btn_next svg {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.view-tickets {
  padding: 10px 26px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  background-color: #00E1E7;
  font-size: 22px;
  font-weight: 700;
  line-height: 95.4545454545%;
  color: #181CDB;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (min-width: 768.98px) {
  .view-tickets:hover {
    background-color: #04f7ff;
  }
}
@media (max-width: 1316px) {
  .view-tickets {
    padding: 10px 22px;
    font-size: 20px;
  }
}
@media (max-width: 992.98px) {
  .view-tickets {
    padding: 10px 18px;
    font-size: 18px;
  }
}
@media (max-width: 768.98px) {
  .view-tickets {
    padding: 9px 14px;
    font-size: 16px;
  }
}
@media (max-width: 480.98px) {
  .view-tickets {
    padding: 8px 10px;
    font-size: 14px;
    line-height: 128.5714285714%;
  }
}

.top:not(:last-child) {
  margin: 0 0 24px 0;
}
@media (max-width: 768.98px) {
  .top:not(:last-child) {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 480.98px) {
  .top:not(:last-child) {
    margin: 0 0 16px 0;
  }
}
.top__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -12px;
}
.top__column {
  padding: 0 12px;
}
.top__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 135.7142857143%;
  color: #031A32;
}
@media (max-width: 992.98px) {
  .top__title {
    font-size: 26px;
  }
}
@media (max-width: 768.98px) {
  .top__title {
    font-size: 24px;
  }
}
@media (max-width: 480.98px) {
  .top__title {
    font-size: 22px;
    line-height: 127.2727272727%;
  }
}

.slider {
  position: relative;
}
.slider__swiper .swiper-slide {
  width: 240px;
}
.slider__navigation {
  position: absolute;
  width: 100%;
  top: 69px;
  z-index: 1;
}
.slider__navigation .navigation__btn {
  position: absolute;
}
.slider__navigation .navigation__btn.navigation__btn_prev {
  left: 0;
  transform: translate(-50%, 0);
}
.slider__navigation .navigation__btn.navigation__btn_next {
  left: auto;
  right: 0;
  transform: translate(50%, 0);
}
@media (max-width: 480.98px) {
  .slider__navigation {
    display: none;
  }
}
.item-slider__image-block {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  height: 170px;
}
.item-slider__image-block:not(:last-child) {
  margin: 0 0 16px 0;
}
@media (min-width: 768.98px) {
  .item-slider__image-block:hover .item-slider__image {
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
}
@media (max-width: 992.98px) {
  .item-slider__image-block:not(:last-child) {
    margin: 0 0 14px 0;
  }
}
@media (max-width: 768.98px) {
  .item-slider__image-block:not(:last-child) {
    margin: 0 0 12px 0;
  }
}
@media (max-width: 480.98px) {
  .item-slider__image-block:not(:last-child) {
    margin: 0 0 10px 0;
  }
}
.item-slider__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-slider__like {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 19px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  fill: transparent;
}
.item-slider__like svg {
  width: 100%;
  height: 100%;
}
.item-slider__like.active {
  fill: #EB1FCA;
}
.item-slider__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 135.2941176471%;
  color: #1B1B21;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 992.98px) {
  .seatsnet__top {
    background: url("../img/top-bg.jpg") center no-repeat;
    background-size: cover;
    padding: 0 0 9px 0;
    position: relative;
  }
  .seatsnet__top::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.7;
    z-index: 1;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ibg img {
  display: none;
}

.header {
  position: absolute;
  width: 100%;
  top: 73px;
  left: 0;
  z-index: 10;
}
.header::before {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.header.lock::before {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
@media (max-width: 992.98px) {
  .header {
    position: relative;
    top: 0;
  }
}
.header__top:not(:last-child) {
  margin: 0 -15px 32.26px -15px;
}
@media (max-width: 992.98px) {
  .header__top:not(:last-child) {
    margin: 0 -15px 8px -15px;
  }
}
.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -15px;
}
@media (max-width: 850px) {
  .top-header {
    flex-wrap: wrap;
  }
}
.top-header__column {
  padding: 0 15px;
  display: flex;
  align-items: center;
}
@media (max-width: 850px) {
  .top-header__column_1 {
    margin: 0 0 16px 0;
  }
}
@media (max-width: 410.98px) {
  .top-header__column_1 {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 850px) {
  .top-header__column_2 {
    margin: 0 0 16px 0;
  }
}
@media (max-width: 410.98px) {
  .top-header__column_2 {
    flex: 1 1 100%;
    justify-content: center;
  }
}
.top-header__column_3 {
  display: none;
}
@media (max-width: 850px) {
  .top-header__column_3 {
    display: flex;
    flex: 1 1 100%;
  }
}
.top-header__logo-block {
  display: flex;
}
.top-header__logo-block:not(:last-child) {
  margin: 0 32.13px 0 0;
}
@media (max-width: 410.98px) {
  .top-header__logo-block {
    flex: 1 1 100%;
    width: 100%;
    justify-content: center;
  }
}
.top-header__logo {
  flex: 0 0 204.87px;
  width: 204.87px;
  height: 58.74px;
}
.top-header__logo img {
  max-width: 100%;
}
@media (max-width: 1316px) {
  .top-header__logo {
    flex: 0 0 177px;
    width: 177px;
    height: 51px;
  }
}
@media (max-width: 992.98px) {
  .top-header__logo {
    flex: 0 0 149px;
    width: 149px;
    height: 43px;
  }
}
@media (max-width: 768.98px) {
  .top-header__logo {
    flex: 0 0 121px;
    width: 121px;
    height: 35px;
  }
}
@media (max-width: 480.98px) {
  .top-header__logo {
    flex: 0 0 92px;
    width: 92px;
    height: 27px;
  }
}
@media (max-width: 410.98px) {
  .top-header__logo {
    transform: translate(-20px, 0);
  }
}
.top-header__search {
  flex: 0 0 300px;
  width: 300px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #D0DAE4;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}
.top-header__search.focus .top-header__search-icon svg {
  fill: #181CDB;
}
@media (max-width: 850px) {
  .top-header__search {
    flex: 1 1 100%;
    width: 100%;
    height: 48px;
    border-radius: 4px;
  }
}
.top-header__search-icon {
  position: absolute;
  content: "";
  width: 19px;
  height: 20px;
  left: 17px;
}
.top-header__search-icon svg {
  width: 100%;
  height: 100%;
  fill: #889EA8;
}
@media (max-width: 850px) {
  .top-header__search-icon {
    width: 24px;
    height: 24px;
    left: 16px;
  }
}
.top-header__search-input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5px 20px 5px 46.39px;
  font-size: 16px;
  font-weight: 400;
  line-height: 118.75%;
  color: #4B545A;
}
.top-header__search-input::placeholder {
  color: #889EA8;
}
@media (max-width: 850px) {
  .top-header__search-input {
    padding: 5px 20px 5px 55.39px;
  }
}
.top-header__burger {
  display: none;
  flex: 0 0 32px;
  width: 32px;
  height: 32px;
  padding: 4px 4px 8px 4px;
  align-items: center;
  justify-content: center;
}
.top-header__burger:not(:last-child) {
  margin: 0 8px 0 0;
}
@media (max-width: 992.98px) {
  .top-header__burger {
    display: flex;
  }
}

.logins__items {
  display: flex;
  align-items: center;
}
.logins__item:not(:last-child) {
  margin: 0 16px 0 0;
}
@media (max-width: 992.98px) {
  .logins__item:not(:last-child) {
    margin: 0 14px 0 0;
  }
}
@media (max-width: 768.98px) {
  .logins__item:not(:last-child) {
    margin: 0 12px 0 0;
  }
}
@media (max-width: 480.98px) {
  .logins__item:not(:last-child) {
    margin: 0 10px 0 0;
  }
}
.dropdown {
  position: relative;
}
.dropdown__button {
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0 40px 0 16px;
  background-color: #181CDB;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #FFFFFF;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.dropdown__button::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 6px;
  border-right-width: 6px;
  border-top: 6px solid #fff;
  right: 16px;
  margin: 2px 0 0 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 992.98px) {
  .dropdown__button::before {
    right: 15px;
  }
}
@media (max-width: 768.98px) {
  .dropdown__button::before {
    right: 14px;
  }
}
@media (max-width: 480.98px) {
  .dropdown__button::before {
    border-left-width: 5px;
    border-right-width: 5px;
    border-top: 5px solid #fff;
    right: 13px;
  }
}
@media (min-width: 768.98px) {
  .dropdown__button:hover {
    background-color: #2f32e3;
  }
}
.dropdown__button.active::before {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (max-width: 1316px) {
  .dropdown__button {
    padding: 0 37px 0 14px;
  }
}
@media (max-width: 992.98px) {
  .dropdown__button {
    padding: 0 34px 0 12px;
  }
}
@media (max-width: 768.98px) {
  .dropdown__button {
    font-size: 13px;
    padding: 0 31px 0 10px 0;
  }
}
@media (max-width: 480.98px) {
  .dropdown__button {
    height: 32px;
    font-size: 12px;
    padding: 0 28px 0 8px;
  }
}
.dropdown__list {
  display: none;
  position: absolute;
  min-width: 100%;
  border-radius: 4px;
  border: 1px solid #E3E9EF;
  background-color: #fff;
  padding: 8px 10px 10px 10px;
  transform: translate(0, 5px);
  z-index: 1000;
  right: 0;
}
.dropdown__list.visible {
  display: block;
}
@media (max-width: 768.98px) {
  .dropdown__list {
    padding: 8px 9px 9px 9px;
  }
}
@media (max-width: 480.98px) {
  .dropdown__list {
    padding: 7px 8px 8px 8px;
  }
}
.dropdown__list-item:not(:last-child) {
  margin: 0 0 8px 0;
}

@media (max-width: 480.98px) {
  .item-dropdown {
    display: flex;
    justify-content: flex-end;
  }
}
.item-dropdown__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
  border-radius: 4px;
  white-space: nowrap;
  padding: 0 14px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1316px) {
  .item-dropdown__link {
    height: 32px;
  }
}
@media (max-width: 992.98px) {
  .item-dropdown__link {
    height: 30px;
    padding: 0 12px;
  }
}
@media (max-width: 768.98px) {
  .item-dropdown__link {
    height: 28px;
    padding: 0 10px;
  }
}
@media (max-width: 480.98px) {
  .item-dropdown__link {
    height: 26px;
    padding: 0 8px;
  }
}
.item-dropdown__link_login {
  background-color: #181CDB;
  color: #FFFFFF;
}
@media (min-width: 768.98px) {
  .item-dropdown__link_login:hover {
    background-color: #2f32e3;
  }
}
@media (max-width: 480.98px) {
  .item-dropdown__link_login {
    width: auto;
  }
}
.item-dropdown__link_registration {
  background-color: #fff;
  color: #181CDB;
  border: 1px solid #181CDB;
}
@media (min-width: 768.98px) {
  .item-dropdown__link_registration:hover {
    background-color: #2f32e3;
    color: #FFFFFF;
  }
}
.burger {
  flex: 0 0 24px;
  width: 24px;
  height: 20px;
  cursor: pointer;
  z-index: 5;
  background-color: transparent;
  position: relative;
}
.burger span {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 8.75px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
}
.burger span:first-child {
  top: 0px;
}
.burger span:last-child {
  top: auto;
  bottom: 0.25px;
}

.bottom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -15px;
}
@media (max-width: 992.98px) {
  .bottom-header {
    min-height: 32px;
    width: 100%;
    margin: 0;
    justify-content: center;
  }
}
.bottom-header__column {
  padding: 0 15px;
}
@media (max-width: 992.98px) {
  .bottom-header__column {
    flex: 1 1 100%;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .bottom-header__column:first-child {
    flex: 0;
  }
}
.menu-header {
  position: relative;
}
.menu-header::before {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.menu-header.lock::before {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
@media (max-width: 992.98px) {
  .menu-header.lock::before {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
@media (max-width: 992.98px) {
  .menu-header {
    display: none;
  }
}
.menu-header__list {
  display: flex;
  align-items: center;
}
.menu-header__item:not(:last-child) {
  margin: 0 2px 0 0;
}
.menu-header__item.active .menu-header__link {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(0, 225, 231, 0.8);
  color: #031A32;
}
.menu-header__item.active .menu-header__link::before {
  border-top: 6px solid #031A32;
}
.menu-header__item.active .submenu-header {
  display: block;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-right: 0;
}
.menu-header__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 125.5%;
  color: #FFFFFF;
  padding: 10px 48px 10px 12px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu-header__link::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 6px;
  border-right-width: 6px;
  border-top: 6px solid #fff;
  right: 17px;
  margin: 2px 0 0 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (min-width: 992.98px) {
  .menu-header__link:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: rgba(0, 225, 231, 0.8);
    color: #031A32;
  }
  .menu-header__link:hover::before {
    border-top: 6px solid #031A32;
  }
}

.submenu-header {
  display: none;
  position: absolute;
  border: 1px solid #E3E9EF;
  background-color: #fff;
  border-radius: 8px;
  padding: 4px 2px 4px 8px;
  width: 212px;
  transform: translate(0, 5px);
  z-index: 1000;
}
.submenu-header__list {
  max-height: 590px;
  overflow-y: auto;
}
.submenu-header__list::-webkit-scrollbar {
  width: 4px;
}
.submenu-header__list::-webkit-scrollbar-track {
  background: #f9f9f9;
}
.submenu-header__list::-webkit-scrollbar-thumb {
  background: #909090;
  border-radius: 6px;
}
.submenu-header__item:not(:last-child) {
  border-bottom: 0.5px solid #D0DAE4;
}
.submenu-header__item.active .submenu-header__link {
  background: #00E1E7;
}
.submenu-header__item.active .subsubmenu-header {
  display: flex;
}
.submenu-header__link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6.5px 28px 6.5px 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 118.75%;
  color: #31363C;
  position: relative;
}
.submenu-header__link::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-width: 6px;
  border-bottom-width: 6px;
  border-left: 6px solid #031A32;
  right: 9px;
  margin: 2px 0 0 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (min-width: 768.98px) {
  .submenu-header__link:hover {
    background: #00E1E7;
  }
}

.subsubmenu-header {
  display: none;
  position: absolute;
  left: 100%;
  top: -1px;
  background-color: #fff;
  padding: 4px 0 4px 0px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #E3E9EF;
  border-left: 0;
}
.subsubmenu-header::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 225, 231, 0.0509803922);
}
.subsubmenu-header__list {
  max-height: 590px;
  position: relative;
}
.subsubmenu-header__item {
  margin: 0 0 0 8px;
}
.subsubmenu-header__item:not(:last-child) {
  border-bottom: 0.5px solid #D0DAE4;
}
.subsubmenu-header__link {
  height: 100%;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 118.75%;
  color: #31363C;
  width: 204px;
  padding: 6.5px 28px 6.5px 8px;
}
@media (min-width: 768.98px) {
  .subsubmenu-header__link:hover {
    background: #00E1E7;
  }
}

.mobile-header {
  position: fixed;
  top: 0;
  left: -120%;
  width: 100%;
  height: 100%;
  background-color: #031A32;
  z-index: 10000;
  padding: 32px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: flex;
  flex-direction: column;
}
@media (min-width: 992.98px) {
  .mobile-header {
    display: none;
  }
}
.mobile-header.active {
  left: 0;
}
.mobile-header__top {
  padding: 0 0 21px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-header__back {
  display: none;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  color: #FFFFFF;
  margin: 0 15px 0 0;
}
.mobile-header__back span {
  flex: 0 0 23px;
  width: 23px;
  height: 21px;
  margin: 0 8px 0 0;
}
.mobile-header__back span img {
  max-width: 100%;
}
.mobile-header__back.active {
  display: flex;
}
.mobile-header__burger {
  flex: 0 0 28px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  z-index: 5;
  background-color: transparent;
  position: relative;
}
.mobile-header__burger span {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 8.75px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
}
.mobile-header__burger span:first-child {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8.5px;
}
.mobile-header__burger span:last-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 8.5px;
}
@media (max-width: 992.98px) {
  .mobile-header__body {
    flex: 1 1 100%;
    overflow: auto;
  }
  .mobile-header__body .menu-header {
    display: flex;
  }
  .mobile-header__body .menu-header__list {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .mobile-header__body .menu-header__item {
    width: 100%;
  }
  .mobile-header__body .menu-header__item:not(:last-child) {
    margin: 0 0 0 0;
  }
  .mobile-header__body .menu-header__item.active .menu-header__link {
    background: #00E1E7;
    color: #031A32;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-weight: 700;
  }
  .mobile-header__body .menu-header__item.active .menu-header__link::before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0;
    border-top: 10px solid #031A32;
  }
  .mobile-header__body .menu-header__item.active .submenu-header {
    display: block;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: 0;
  }
  .mobile-header__body .menu-header__link {
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding: 5px 60px 5px 8px;
    min-height: 66px;
    letter-spacing: -0.01em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5019607843);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .mobile-header__body .menu-header__link:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5019607843);
  }
  .mobile-header__body .menu-header__link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left: 10px solid #fff;
    border-bottom-width: 10px;
    border-top-width: 10px;
    right: 21px;
    margin: 2px 0 0 0;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -ms-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
  .mobile-header__body .submenu-header {
    display: none;
    border: 0;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    width: 100%;
    transform: translate(0, 0);
    z-index: 1000;
  }
  .mobile-header__body .submenu-header__list {
    max-height: none;
    overflow: visible;
  }
  .mobile-header__body .submenu-header__item:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5019607843);
  }
  .mobile-header__body .submenu-header__item:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5019607843);
  }
  .mobile-header__body .submenu-header__item.active .submenu-header__link {
    border-bottom: 2px solid #fff;
    color: #031A32;
    font-weight: 700;
  }
  .mobile-header__body .submenu-header__item.active .submenu-header__link::before {
    border-top: 10px solid #031A32;
    border-bottom: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  .mobile-header__body .submenu-header__link {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 60px 5px 40px;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
  }
  .mobile-header__body .submenu-header__link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left: 10px solid #FFFFFF;
    right: 13.33px;
    margin: 2px 0 0 0;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -ms-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
  .mobile-header__body .subsubmenu-header {
    display: none;
    position: relative;
    left: 0;
    top: 0;
    background-color: transparent;
    padding: 0;
    flex-direction: column;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border: 0;
  }
  .mobile-header__body .subsubmenu-header::before {
    display: none;
  }
  .mobile-header__body .subsubmenu-header__list {
    max-height: none;
  }
  .mobile-header__body .subsubmenu-header__list:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5019607843);
  }
  .mobile-header__body .subsubmenu-header__item {
    margin: 0 0 0 0;
  }
  .mobile-header__body .subsubmenu-header__item:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5019607843);
  }
  .mobile-header__body .subsubmenu-header__link {
    min-height: 50px;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    width: 100%;
    padding: 5px 10px 5px 50px;
  }
}

@media (max-width: 992.98px) {
  .actions-header {
    width: 100%;
  }
}
.actions-header__list {
  display: flex;
  align-items: center;
}
@media (max-width: 992.98px) {
  .actions-header__list {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 992.98px) {
  .actions-header__item {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
  }
}

.item-actions-header {
  position: relative;
}
.item-actions-header:not(:last-child)::before {
  position: absolute;
  content: "";
  width: 1.75px;
  height: 100%;
  top: 0;
  right: -1px;
  background-color: #9292B3;
}
.item-actions-header_select .select2 {
  width: auto !important;
}
.item-actions-header_select .select2.select2-container--open .select2-selection__arrow b {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.item-actions-header_select .select2-container--default .select2-selection--single {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  display: flex;
  align-items: center;
  height: auto;
}
.item-actions-header_select .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 14px;
  font-weight: 500;
  line-height: 128.5714285714%;
  color: #FFFFFF;
  padding: 0;
  display: flex;
}
.item-actions-header_select .select2-container--default .select2-selection--single .select2-selection__rendered span {
  display: flex;
  align-items: center;
}
@media (max-width: 480.98px) {
  .item-actions-header_select .select2-container--default .select2-selection--single .select2-selection__rendered span {
    font-size: 0;
  }
}
.item-actions-header_select .select2-container--default .select2-selection--single .select2-selection__rendered img {
  display: inline-flex;
  margin: 0 0 0 4px;
}
@media (max-width: 480.98px) {
  .item-actions-header_select .select2-container--default .select2-selection--single .select2-selection__rendered img {
    margin: 0;
  }
}
@media (max-width: 768.98px) {
  .item-actions-header_select .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 13px;
  }
}
.item-actions-header_select .select2-container--default .select2-selection--single .select2-selection__arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  top: auto;
  right: auto;
  margin: 0 0 0 8px;
}
.item-actions-header_select .select2-container--default .select2-selection--single .select2-selection__arrow b {
  position: relative;
  margin: 0;
  top: auto;
  left: auto;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 6.5px;
  border-right-width: 6.5px;
  border-top: 6.5px solid #00E1E7;
  right: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 480.98px) {
  .item-actions-header_select .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-left-width: 5px;
    border-right-width: 5px;
    border-top: 5px solid #00E1E7;
  }
}
@media (max-width: 480.98px) {
  .item-actions-header_select .select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 24px;
    margin: 0;
  }
}
.item-actions-header_select-location {
  display: flex;
  align-items: center;
}
.item-actions-header_select-location .item-actions-header__icon {
  position: absolute;
  width: 13px;
  height: 18px;
}
@media (max-width: 992.98px) {
  .item-actions-header_select-location .item-actions-header__icon {
    position: relative;
  }
}
@media (max-width: 480.98px) {
  .item-actions-header_select-location .item-actions-header__icon {
    width: 10px;
    height: 14px;
  }
}
.item-actions-header_select-location .item-actions-header__icon svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}
@media (max-width: 480.98px) {
  .item-actions-header_select-location .item-actions-header__icon svg {
    fill: #00E1E7;
  }
}
.item-actions-header_select-location .select2-container--default .select2-selection--single {
  padding: 0 12.5px 0 28px;
}
@media (max-width: 992.98px) {
  .item-actions-header_select-location .select2-container--default .select2-selection--single {
    padding: 0 0px 0 15px;
  }
}
@media (max-width: 480.98px) {
  .item-actions-header_select-location .select2-container--default .select2-selection--single {
    padding: 0 0px 0 12px;
  }
}
.item-actions-header_select-date {
  display: flex;
  align-items: center;
  position: relative;
}
.item-actions-header_select-date .item-actions-header__icon {
  position: absolute;
  width: 21px;
  height: 20px;
  left: 14px;
}
@media (max-width: 992.98px) {
  .item-actions-header_select-date .item-actions-header__icon {
    position: relative;
    left: 0;
  }
}
@media (max-width: 480.98px) {
  .item-actions-header_select-date .item-actions-header__icon {
    width: 16px;
    height: 16px;
  }
}
.item-actions-header_select-date .item-actions-header__icon svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}
@media (max-width: 480.98px) {
  .item-actions-header_select-date .item-actions-header__icon svg {
    fill: #00E1E7;
  }
}
.item-actions-header_select-date .select2-container--default .select2-selection--single {
  padding: 0 0 0 47px;
}
@media (max-width: 992.98px) {
  .item-actions-header_select-date .select2-container--default .select2-selection--single {
    padding: 0 0 0 17px;
  }
}
@media (max-width: 480.98px) {
  .item-actions-header_select-date .select2-container--default .select2-selection--single {
    padding: 0 0 0 12px;
  }
}

.custom-dates {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  top: 10px;
  transform: translate(20px, 0);
}
@media (max-width: 480.98px) {
  .custom-dates {
    transform: translate(0, 0);
  }
}

.seatsnet-home__fullscreen:not(:last-child) {
  margin: 0 0 40px 0;
}
@media (max-width: 768.98px) {
  .seatsnet-home__fullscreen:not(:last-child) {
    margin: 0 0 36px 0;
  }
}
@media (max-width: 480.98px) {
  .seatsnet-home__fullscreen:not(:last-child) {
    margin: 0 0 32px 0;
  }
}
.seatsnet-home__top-categories:not(:last-child) {
  margin: 0 0 32px 0;
}
@media (max-width: 768.98px) {
  .seatsnet-home__top-categories:not(:last-child) {
    margin: 0 0 28px 0;
  }
}
@media (max-width: 480.98px) {
  .seatsnet-home__top-categories:not(:last-child) {
    margin: 0 0 24px 0;
  }
}

.slider-fullscreen__navigation {
  position: absolute;
  z-index: 1;
  bottom: 40px;
  left: 0;
  width: 100%;
}
@media (max-width: 1316px) {
  .slider-fullscreen__navigation {
    bottom: 64px;
  }
}
@media (max-width: 992.98px) {
  .slider-fullscreen__navigation {
    bottom: 88px;
  }
}
@media (max-width: 768.98px) {
  .slider-fullscreen__navigation {
    bottom: 112px;
  }
}
@media (max-width: 480.98px) {
  .slider-fullscreen__navigation {
    bottom: 138px;
  }
}
.item-slider-fullscreen {
  position: relative;
}
.item-slider-fullscreen__image-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item-slider-fullscreen__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item-slider-fullscreen__body {
  position: relative;
  padding: 233px 0 90px 0;
}
@media (max-width: 1316px) {
  .item-slider-fullscreen__body {
    padding: 193px 0 110px 0;
  }
}
@media (max-width: 992.98px) {
  .item-slider-fullscreen__body {
    padding: 153px 0 130px 0;
  }
}
@media (max-width: 768.98px) {
  .item-slider-fullscreen__body {
    padding: 113px 0 150px 0;
  }
}
@media (max-width: 700px) {
  .item-slider-fullscreen__body {
    max-width: 328px;
  }
}
@media (max-width: 480.98px) {
  .item-slider-fullscreen__body {
    padding: 64px 0 170px 0;
    max-width: 218px;
  }
}
@media (max-width: 370px) {
  .item-slider-fullscreen__body {
    max-width: 200px;
  }
}
.item-slider-fullscreen__name {
  font-size: 68px;
  font-weight: 500;
  line-height: 55.8823529412%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.item-slider-fullscreen__name:not(:last-child) {
  margin: 0 0 20px 0;
}
@media (max-width: 1316px) {
  .item-slider-fullscreen__name {
    font-size: 57px;
    line-height: 127.2727272727%;
  }
  .item-slider-fullscreen__name:not(:last-child) {
    margin: 0 0 16px 0;
  }
}
@media (max-width: 992.98px) {
  .item-slider-fullscreen__name {
    font-size: 46px;
  }
  .item-slider-fullscreen__name:not(:last-child) {
    margin: 0 0 12px 0;
  }
}
@media (max-width: 768.98px) {
  .item-slider-fullscreen__name {
    font-size: 34px;
  }
  .item-slider-fullscreen__name:not(:last-child) {
    margin: 0 0 8px 0;
  }
}
@media (max-width: 480.98px) {
  .item-slider-fullscreen__name {
    font-size: 22px;
    font-weight: 700;
  }
  .item-slider-fullscreen__name:not(:last-child) {
    margin: 0 0 4px 0;
  }
}
.item-slider-fullscreen__text {
  font-size: 28px;
  font-style: italic;
  font-weight: 500;
  line-height: 135.7142857143%;
  color: #FFFFFF;
}
.item-slider-fullscreen__text:not(:last-child) {
  margin: 0 0 26px 0;
}
@media (max-width: 1316px) {
  .item-slider-fullscreen__text {
    font-size: 25px;
  }
}
@media (max-width: 992.98px) {
  .item-slider-fullscreen__text {
    font-size: 22px;
  }
}
@media (max-width: 768.98px) {
  .item-slider-fullscreen__text {
    font-size: 19px;
  }
}
@media (max-width: 480.98px) {
  .item-slider-fullscreen__text {
    font-style: normal;
    font-size: 16px;
    line-height: 118.75%;
  }
  .item-slider-fullscreen__text:not(:last-child) {
    margin: 0 0 32px 0;
  }
}